.container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #9D8080;
    margin:0%;
    justify-content: space-between;

}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-right: 5%;
    font-weight: bold;

}

.logo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-top: 2%;
    padding-left: 5%;

}

.banner{
    position: relative;


}

.banner-img{
    width: 100%;
    height: 10%;
}

.banner-text{
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    position: absolute;
    text-align: center;
    color: white;
    font-size: 150%;

}.banner-box{
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    position: absolute ;
}

.text-1{
    color: #191C03;
    padding: 150px;
    text-align: center;
}

.gallery{
    /*
    display: grid;
    
    justify-content: space-between;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 1px;
    max-width: 100%;
    height: auto; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(2, 1fr);
    background-color: #C3C63B;
    width: 100%;
    
}

.foto-1{
    max-width: 100%;
    height: auto;  
}

.foto-2{
    width: 100%;
    height: auto;
}

.foto-3{
    width: 100%;
    height: auto;
}

.foto-4{
    width: 100%;
    height: auto;
}

.box{
    background-color: #191C03;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.text-2{
    margin: 50px;
    text-align: center;
}

.text-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
    padding: 80px;
}

.localizacao{
    text-align: center;
}

.pacote-ofertas{
    text-align: center;
}

.acomodacoes{
    text-align: center;
}

.newsletter{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    text-align: center;
    color: #CECA4B;
}

.news-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: left;
    gap: 10px;
}

.box-email{
    width: 20%;
    border: solid #C3C63B;
    padding: 5px;
    color: black;

}

.botao-cadastrar{
    color: white;
    background-color:#C3C63B ;
    padding: 8px;
    border-radius: 7%;
}

.footer{
    padding: 100px;
    text-align: center;
    background-color: #393F06;
    color: #B5B936;
}
